*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(0, 234, 255, 0.4);
    font-family: monospace;
    font-weight: 200;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.words{
    min-width:500px;
    width: 960px;
    max-width: 960px;
    margin:50px 5rem;
    background:white;
    border-radius:5px;
    box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    padding:1rem 2rem 1rem 5rem;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height:3rem;
}

p{
    margin: 0 0 3rem 0;
}

@media (max-width:640px) {
    .words{
        width:auto;
        min-width: 270px;
        font-size: 13px;
        padding:1rem 2rem 1rem 2rem;
        margin: 2rem;
    }
}